<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Apfeltalk Mobile Entwicklerliste (Usernamen in Klammern)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Idee:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Stephan König (Thaddäus)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Administration / Kommunikation:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Stephan König (Thaddäus)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Programmierung:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Alexander von Below (below), Stefan Kofler (grafele), Manuel Burghard (Unkaputtbar), Andreas Rami (arami, Stephan König (Thaddäus), Michael Fenske (MacApple),
Andreas Grauel (moderngeek), Lukas Besch (lmb),
Michael Ochs (mad boy), Marc Zitzmann (mzitzmann), Nico Reese (branco145)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Integration Forum:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Manuel Burghard (Unkaputtbar)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Grafik:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Stephan König (Thaddäus, Retinaanpassungen), Laurids Düllmann (laurids), Patrick Rollbis (prollbis),
Jesper Frommherz (jesfro)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Administration Apfeltalk GmbH:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Gerd Pleyer (Macindy), Sylvia Steffens (Nathea),
Jesper Frommherz (jesfro)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Public Relations:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Felix Rieseberg, Christian Blum</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Bemerkungen:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Die Tapatalk-API welche für den Forenzugriff eingesetzt wird ist ein Produkt der Quoord Systems Limited, Main Office:
15B, Haven Commercial Building
6-8 Tsing Fung St.
Tin Hau, Hong Kong S.A.R.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Lizenz:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DoNotLocalize</key>
			<true/>
			<key>FooterText</key>
			<string>Die Apfeltalk Mobile App steht unter der GPL v2 Lizenz, und ist somit Opensource. Der Code kann unter der Voraussetzung, dass die GPL v2 Lizenz weitergegeben wird uneingeschränkt genutzt werden. Der Source-Code ist unter www.github.com/stephandev/Apfeltalk-App frei zugänglich.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Team</string>
</dict>
</plist>
